
@{
    ViewData["Title"] = "Contatos";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Agência Vorazes</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="corpo-destino">
    <section id="hero">
        <h1>Contatos</h1>
    </section>
    <br />
    <br />
    <form class="container-fluid">
        <div class="form-row">
            <div class="form-group col-md-4 col-md-3 col-md-6">
                <label for="Nome">Nome</label>
                <input type="text" class="form-control" id="Nome" placeholder="Nome">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4 col-md-3 col-md-6">
                <label for="Sobrenome">Sobrenome</label>
                <input type="text" class="form-control" id="Sobrenome" placeholder="Sobrenome">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email*">
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="exampleFormControlTextarea1">Mensagem*</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-dark col-md-6 col-md-3">Enviar</button>
    </form>
    <br />
    <br />
</body>
</html>

