
@{
    ViewData["Title"] = "Promoções";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Agência Vorazes</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/js/site.js" />
</head>
<body>
    <section id="hero">
        <h1>Promoções</h1>
    </section>
    <section id="product1" class="section-p1">
        <div class="pro-container">
            <div class="pro">
                <img src="~/img/Belem.jpg" alt="">
                <div class="des">
                    <span>Brasil</span>
                    <h5>Belém</h5>
                    <h4 class="preco">R$580,00</h4>
                    <p>Em até 12x com juros no cartão de crédito</p>
                </div>
                <i class='fal fa-shopping-cart cart'></i>
            </div>
            <div class="pro">
                <img src="~/img/Belo horizonte.jpg" alt="">
                <div class="des">
                    <span>Brasil</span>
                    <h5>Belo Horizonte</h5>
                    <h4 class="preco">R$589,00</h4>
                    <p>Em até 12x com juros no cartão de crédito</p>
                </div>
                <i class='fal fa-shopping-cart cart'></i>
            </div>
            <div class="pro">
                <img src="~/img/Brasilia.jpg" alt="">
                <div class="des">
                    <span>Brasil</span>
                    <h5>Brasília</h5>
                    <h4 class="preco">R$770,00</h4>
                    <p>Em até 12x com juros no cartão de crédito</p>
                </div>
                <i class='fal fa-shopping-cart cart'></i>
            </div>
            <div class="pro">
                <img src="~/img/Natal.jpg" alt="">
                <div class="des">
                    <span>Brasil</span>
                    <h5>Natal</h5>
                    <h4 class="preco">R$650,00</h4>
                    <p>Em até 12x com juros no cartão de crédito</p>
                </div>
                <i class='fal fa-shopping-cart cart'></i>
            </div>
            <div class="pro">
                <img src="~/img/Noronha.jpeg" alt="">
                <div class="des">
                    <span>Brasil</span>
                    <h5>Fernando de Noronha</h5>
                    <h4 class="preco">R$720,00</h4>
                    <p>Em até 12x com juros no cartão de crédito</p>
                </div>
                <i class='fal fa-shopping-cart cart'></i>
            </div>
            <div class="pro">
                <img src="~/img/Salvador.jpeg" alt="">
                <div class="des">
                    <span>Brasil</span>
                    <h5>Salvador</h5>
                    <h4 class="preco">R$696,00</h4>
                    <p>Em até 12x com juros no cartão de crédito</p>
                </div>
                <i class='fal fa-shopping-cart cart'></i>
            </div>
        </div>
    </section>
</body>
</html>


